---
title: Connecting product developers with factories
description: Find suitable factories for your product and start manufacturing today!

hero:
  enabled: true
  header: "Connecting <strong>Product Developers</strong> with <strong>Factories</strong>"
  text: Find suitable <strong> factories </strong> for your product and start manufacturing today!
  action:
    enabled: true
    label: Explore Resources and Factories
    link: #
  screenshot:
    enabled: true
    description: Header
    path: /images/AdobeStock_112754883.jpeg

banners:
  enabled: true
  content:
    -
      title: "Find <strong>compatible manufacturers</strong>"
      text: "We connect product developers with the right parties around the world to get your manufacturing done."
      image:
        path: /images/factory-floor.jpeg
        description: An important dashboard image that demonstrations blah
    -
      title: "<strong>Reduce</strong> your <strong>time to market</strong>"
      text: "Try less DIY-style and collaborate with industry professionals to move efficient and fast."
      image:
        path: /images/time-production-line.jpeg
        description: An important dashboard image that demonstrations blah
    -
      title: "<strong>Save</strong> yourself <strong>time and money</strong>"
      text: "We provide key help on crucial steps of starting mass production."
      image:
        path: /images/clock-money.jpeg
        description: An important dashboard image that demonstrations blah

testimonials:
  enabled: true
  content:
    -
      person:
        name: Hans Stam
        image: /images/hans.jpg
        role: CPO at OEM Central
      text: Rocket Internet spent half a year and 6 Million Euro on consultants trying to prototype a device. OEM Central co founder Hans Stam delivered a prototype in 1 week and 20k Euro.
    -
      person:
        name: Mike Richardson
        image: /images/mike.jpg
        role: Managing Director at Photonic Insights / Business Mentor at German Accellerator Southeast Asia
      text: When I heard what OEM Central was building I was so happy to hear about it, I would pay good money just to have a list of factories with their ratings all in one place

   
bottom:
  enabled: true
  header: "Get in touch!"
  action:
    label: "Email"
    link: "mailto:contact@oem-central.com"
---

{% if page.hero.enabled == true %}
<section class="hero">
	<div class="text-container">
		<h1 class="editable">{{ page.hero.header }}</h1>
		<p class="subtext editable">{{ page.hero.text }}</p>
		{% if page.hero.action.enabled == true %}
		<div class="cta button alt"><a href="{{ page.hero.action.link }}">{{ page.hero.action.label }}</a></div>
		{% endif %}
		{% if page.hero.screenshot.enabled == true %}
		<div>
			<img src="{{ page.hero.screenshot.path }}" alt="{{ page.hero.screenshot.description}}" class="screenshot editable" />
		</div>
		{% endif %}
	</div>
</section>
{% endif %}

<div class="content">
	{% if page.banners.enabled == true %}
	{% for item in page.banners.content %}
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{ item.title }}</h2>
				<p>{{ item.text }}</p>
			</div>
			<div class="image">
				<img src="{{ item.image.path }}" alt="{{ item.image.description}}" class="screenshot editable" />
			</div>
		</div>
	</section>
	{% endfor %}
	{% endif %}

	{% if page.testimonials.enabled == true %}
	{% for testimonial in page.testimonials.content %}
	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="{{ testimonial.person.image }}" alt="Image of {{ testimonial.person.name }}" class="editable"></div>
				<blockquote>
					<p class="editable">{{ testimonial.text }}</p>
					<p class="editable author">{{ testimonial.person.name }} - {{ testimonial.person.role }}</p>
				</blockquote>
			</div>
		</div>
	</section>
	{% endfor %}
	{% endif %}

	{% if page.bottom %}
	<section class="bottom-cta">
		<h2 class="editable">{{ page.bottom.header }}</h2>
		<div class="button alt"><a href="{{ page.bottom.action.link }}">{{ page.bottom.action.label }}</a></div>
	</section>
	{% endif %}
</div>
