---
title: Connecting product developers with factories
description: The world first and only factory search engine

hero:
  enabled: true
  header: "<strong>OEM Central</strong>"
  text: THE WORLD FIRST AND ONLY FACTORY SEARCH ENGINE
  action:
    enabled: true
    label: Coming Soon
    link: #
  screenshot:
    enabled: true
    description: Header
    path: /images/words-cloud-2.jpeg

banners:
  enabled: true
  content:
    -
      title: "For <strong>Product Developers</strong>"
      text: "For product developers to find the right factories to get your mass production started"
      image:
        path: /images/factory-floor.jpeg
        
    -
      title: "For <strong>Factories</strong>"
      text: "Find new customers and grow your manufacturing potential on a new digital platform"
      image:
        path: /images/time-production-line.jpeg
        
    -
      title: "For <strong>Raw Materials Producers</strong>"
      text: "Find the factories who need your products, all in one central place"
      image:
        path: /images/raw-material.jpeg
        

testimonials:
  enabled: true
  content:
  
    -
      person:
        name: Mike Richardson
        image: /images/mike.jpg
        role: Managing Director at Photonic Insights / Business Mentor at German Accellerator Southeast Asia
      text: When I heard what OEM Central was building I was so happy to hear about it, I would pay good money just to have a list of factories with their ratings all in one place

   
bottom:
  enabled: true
  header: "Get in touch!"
  action:
    label: "Email"
    link: "mailto:contact@oem-central.com"
---

{% if page.hero.enabled == true %}
<section class="hero">
	<div class="text-container">
		<h1 class="editable">{{ page.hero.header }}</h1>
		<p class="subtext editable">{{ page.hero.text }}</p>
		{% if page.hero.action.enabled == true %}
		<div class="cta button alt"><a href="{{ page.hero.action.link }}">{{ page.hero.action.label }}</a></div>
		{% endif %}
		{% if page.hero.screenshot.enabled == true %}
		<div>
			<img src="{{ page.hero.screenshot.path }}" alt="{{ page.hero.screenshot.description}}" class="screenshot editable" />
		</div>
		{% endif %}
	</div>
</section>
{% endif %}

<div class="content">
	{% if page.banners.enabled == true %}
	{% for item in page.banners.content %}
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>{{ item.title }}</h2>
				<p>{{ item.text }}</p>
			</div>
			<div class="image">
				<img src="{{ item.image.path }}" alt="{{ item.image.description}}" class="screenshot editable" />
			</div>
		</div>
	</section>
	{% endfor %}
	{% endif %}

	{% if page.testimonials.enabled == true %}
	{% for testimonial in page.testimonials.content %}
	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="{{ testimonial.person.image }}" alt="Image of {{ testimonial.person.name }}" class="editable"></div>
				<blockquote>
					<p class="editable">{{ testimonial.text }}</p>
					<p class="editable author">{{ testimonial.person.name }} - {{ testimonial.person.role }}</p>
				</blockquote>
			</div>
		</div>
	</section>
	{% endfor %}
	{% endif %}

	{% if page.bottom %}
	<section class="bottom-cta">
		<h2 class="editable">{{ page.bottom.header }}</h2>
		<div class="button alt"><a href="{{ page.bottom.action.link }}">{{ page.bottom.action.label }}</a></div>
	</section>
	{% endif %}
</div>
